body {
  margin:0;
  padding: 0;
}
h1 , h3{
  font-family: "Montserrat";
}

container-fluid {
  height: 100%;
}

.heroBox h1 {
  font-family: "Montserrat";
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 600;
}

.heroBox p {
  font-family: "Ubuntu";
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}

.heroBox{
  position: relative;
  max-width: 600px;
  padding:50px;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  flex-direction: column-reverse;
}

/* Navbar */
.navbar-toggler {
    border-color: rgb(33,37,41);
}
 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(33,37,41)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background-color: #fff;
  padding: 0 10%;
}
.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  padding: 20px 10px;
  color: #212529;
}

.nav-link:hover{
  font-size: 1.2rem;
  font-family: "Montserrat";
  background: #c40d1e;
  color: #fff;
}



/* Navbar */

/* About us */
.hero-image  {
  background-image:url("images/banner-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10% 5%;
  text-align: center;
}

.aboutUsBtn {
  padding: 10px 10px;
  margin: 2%;
  background-color: #c40d1e;
  border-color: #c40d1e;
}

.body-title {
  text-align: center;
  color: #c40d1e;
}

.about-us {
  text-align: justify;
  padding: 50px 50px;
}

.why-us {
  text-align: center;
  padding-top:4%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.reason {
padding: 5% 2%;
}

.about-us-icons{
width: 20%;
margin: 5% 0%;
}

/* About us */



/* Follow us  */
.social-media {
  padding-top: 1%;
}
.follow-us{
  background: #c40d1e;
  color: #fff;
  padding-top: 2%;
  text-align:center;
}
.social-media-icons {
  margin: 2% 0;
  padding: 1% 0 2% 0;
  display: flex;
  justify-content: center;
}

.social-media-icons li {
  list-style: none;
  margin: 0 5px;
}

.social-media-icons li a {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 60px;
border-radius: 50%;
text-decoration: none;
font-size: 30px;
color: #fff;
transition: 0.5s;
}

/* Follow us  */

/* Project */
.project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/blueprint.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 11% 5%;
  text-align: center;
  color: white;
}
/* House Search */
.house-search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/HFOne.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 11% 5%;
  text-align: center;
  color: white;
}
.bodyBtn {
  margin: 50px 0;
  background-color: #c40d1e;
  border-color: #c40d1e;
}

.contactUsBtn {
margin: 50px 0;
}

/* Our projects */
.ourProjects {
  text-align: center;
  z-index: 3;

}

.ourProjectsTitle{
  color: #c40d1e;
  padding: 2% 2%;
  margin: 4% 7%;
  text-align: center;
border: 2px solid #c40d1e;
}


.discoverProjects{
  text-align: justify;
  padding: 10% 3%;
  color: #fff;
  background-color: #1f628e;
}

.locationIcon {
  width: 4%;
}
.projectImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/anes-7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10% 15%;
  text-align: center;
  color: white;
}

/* Our projects */

/* contact Us */
.contactUsBanner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/contact-us-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 15% 15%;
  text-align: center;
  color: white;
}

.mapContainer iframe {
  height: 700px;
  width: 100%;
  margin: 0;
}
/* Footer */
.contact-icon {
  margin: 5px 15px;
  display: flex;
}

.contact-us-icons {
  width: 6%;
  margin: 1% 2%;
  text-align: justify;
}

.contactUsCard{
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.contactInfo{
  margin: 7% 0 0;
}

.meetingSection {
  margin: 150px 0;
  text-align: center;
}

.footer {
  text-align: center;
  padding:70px 0;
  background: #495057;
  color: #fff;
}

.footer-text {
  text-align: justify;
}

.footer-icons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-icons li {
  list-style: none;
  margin: 0 5px;
}

.footer-icons li a {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 60px;
border-radius: 50%;
text-decoration: none;
font-size: 30px;
color: #fff;
transition: 0.5s;
}

.copyright{
  background: #212529;
  color: #fff;
  padding:1% 0;
  justify-content: center;
  display: flex;
}
/* Footer */
