/* fonts */
h2{
  font-family:'Montserrat';
  font-weight: 700;
}
.residence{
font-weight: 300;
}
p{
  font-family: 'Raleway';
}

/* navbar */
.navbar-custom{
  background-color: #F62C35;
}

.navbar {
  padding: 0.8rem;
}

.navbar-menu {
  padding-right: 25px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* about */
#about {
  position: relative;
  padding: 100px 0px;
  text-align: center;
}

.intro{
  position: relative;
}

.intro:before {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-3%;
  width: 6%;
  height: 2px;
  background-color: #F62C35;
  z-index: 1;
  transition: 0.3s ease;
}

.intro:hover:before {
  width: 24%;
  margin-left: -12%;
}

.intro:after {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-12%;
  width: 24%;
  height: 2px;
  background-color: #e1e1e1e1;
}

.intro p {
  color: #818181;
  display: inline-block;
  padding: 0px 0px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}



.intro-feature {
  position: relative;
  margin:40px;
}

.intro-feature:hover i{
  font-size: 2em;
  color: white;
  background-color: #F62C35;
  transition: 0.5s ease;
}

.intro-feature i{
  text-align: center;
  font-size: 2em;
  background: white;
  color: #F62C35;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
  border: 0.08em solid #F62C35;
  line-height: 2.2em;
}

.feature-icon {
  margin-bottom: 20px;
}


/* Google map  */
#map{
  margin-bottom:70px;
  text-align: center;
}

/* Commodities */
.anes-plan{
  padding: 50px 0px 50px 0px;
}
.commodity-list , .comodity-title{
  text-align: center;
}


.comodity-title:before {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-3%;
  width: 6%;
  height: 2px;
  background-color: #F62C35;
  z-index: 1;
  transition: 0.3s ease;
}

.comodity-title:hover:before {
  width: 24%;
  margin-left: -12%;
}

.comodity-title:after {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left:-12%;
  width: 24%;
  height: 2px;
  background-color: #e1e1e1e1;
}



.check-icon {
  color: #F62C35;
  margin-right:20px;
}
.comodity-items {
  margin-top: 30px;
}

/* Gallery */
#gallery {
  text-align: center;
}




/* Footer */
#footer {
  text-align: center;
background-color: #3E4551;
color: white;
padding-top:40px;
}

table {
  text-align: center;
}

.footer-element {
  margin-top: 50px;
}

hr{
  color: white;
  background-color: white;
  height: 2px;
}

#footer .fab{
  font-size:2em;
  padding: 1em;
  color: white;
}

.container .fa-facebook-square{
  text-shadow: 3px 3px 16px #C0C0C0;
}
